<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartsense.taxinearyou">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TaxiNearYouApp"
        android:allowBackup="true"
        android:icon="@mipmap/imgtnulogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityTaxiNearYou" />
        <activity
            android:name=".ActivitySplash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:configChanges="orientation|screenSize"
            android:label="@string/search"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".SignIn"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SignUp"
            android:configChanges="orientation|screenSize"
            android:label="@string/sign_up"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SecurityQuestion"
            android:configChanges="orientation|screenSize"
            android:label="Security Question"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SearchCars"
            android:configChanges="orientation|screenSize"
            android:label="@string/searchcars"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BookingInfo"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_booking_info"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PartnerRating"
            android:configChanges="orientation|screenSize"
            android:label="@string/partner_rating"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Filter"
            android:label="Filter"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PaymentDetails"
            android:label="Payment Details"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TripDetails"
            android:label="Trip Details"
            android:parentActivityName=".Search"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Feedback"
            android:label="Feedback"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".YourDetails"
            android:label="Your Details"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GeneralInformation"
            android:label="General Information"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LostItemDetail"
            android:label="Lost Item Detail"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LostItem"
            android:label="Lost Item"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".AccountSecurity"
            android:label="Account Security"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".PersonalInfo"
            android:configChanges="orientation|screenSize"
            android:label="Personal Info"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ResetPassword"
            android:label="Reset Password"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RecoverEmailAddress"
            android:label="Recover Email Address"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddCard"
            android:label="Add Card"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Card"
            android:label="Card"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CardList"
            android:label="CardList"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CardDetails"
            android:label="Card Details"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GooglePlaces"
            android:label="Google Places"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventBooking"
            android:label="Event Booking"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutUs"
            android:label="About Us"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".More"
            android:label="More"

            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDslds4uckd0q06CFMQGOKPFCWs8cZOKnI" />
    </application>

</manifest>
